@model IEnumerable<Applicative_Order.Models.SleeveType>

@{
    ViewBag.Title = "Index";
}

<h2>Create a new type of  sleeve</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codSleeveType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codSleeveType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sleeveTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.sleeveTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sleeveTypeID })
        </td>
    </tr>
}

</table>
