@model IEnumerable<Applicative_Order.Models.ProductCalla>

@{
    ViewBag.Title = "Index";
}

<h2>Create a new Product Calla</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameProduct)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameProduct)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productCallaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.productCallaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productCallaID })
        </td>
    </tr>
}

</table>
