@model IEnumerable<Applicative_Order.Models.ProductType>

@{
    ViewBag.Title = "Index";
}

<h2>Create a new Product Galleria</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productGalleria.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberStems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descriptionProduct)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productGalleria.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberStems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descriptionProduct)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProduct }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProduct }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProduct })
        </td>
    </tr>
}

</table>
