@model IEnumerable<Applicative_Order.Models.City>

@{
    ViewBag.Title = "Index";
}

<h2>Create a new city</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.country.codeCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codeCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nameCity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.country.codeCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codeCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nameCity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cityID })
        </td>
    </tr>
}

</table>
